body {
  padding-top: 50px;
}
.davlatian-template {
  padding: 40px 15px;
  text-align: center;
}
.davlatian-template .panel{
  text-align:left;
}
.page-nav-buttons-top a {
  text-decoration: none;
  margin-bottom: 40px;
}
.btn-top{
  float: right;
  margin-top: -25px;
  margin-right: -10px;
}

.job-time-period {
  float: right;
  font-variant: small-caps;
}
.job-location {
  display: block;
  font-weight:normal;
  font-size:small;
}

/* Modified for my needs css code from here http://bootsnipp.com/snippets/408yW */
#accordion .panel-title > a {
    text-decoration: none;
    display: block;
}
#accordion .panel-title > a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::before  {
    content:"\e113";
    float: right;
    font-family: 'Glyphicons Halflings';
	  margin-left :1em;
}
#accordion .panel-title > a.accordion-toggle.collapsed::before, #accordion a.collapsed[data-toggle="collapse"]::before  {
    content:"\e114";
}
